$gray-950: #2C2C31;
$gray-500: #BCBC9A;
$gray-300: #C9C9CE;
$white: #FFFFFF;

$blue-500: #0050FF;
$red-600: #DC2828;
$red-100: #FFDCDC;
$yellow-700: #A56315;
$yellow-100: #FAF1B6;

$dim-50: #1A1A1A0F;
$dim-800: #1A1A1ACC;